li {
    list-style-type: none;
}
h2, h3, h5 {
    margin: 0;
}
/* whole page style */
.page {
    margin-top: 30px;
    background-color: #603601;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* portfolio photo section style */
.left-frame {
    width: 20vw;
    height: 20vw;
    background-color: #87805E;
    border: 1px solid #E0D8B0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personal-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.personal-pic-size {
    height: 130px;
    width: 130px;
}
.name {
    font-size: 30px;
    font-weight: bold;
    color: #361500;
}

/* main content section style */
.main-content-frame {
    border-radius: 20px;
    background-color: #87805E;
    border: 1px solid #E0D8B0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70vw;
    overflow-y: auto;
    overflow-x:hidden;
}
.main-content {
    padding: 30px;
    margin-top: 50px;
}

/* navbar section style */
.navbar-list {
    margin-top: 0;
    position: fixed;
    width: calc(70vw - 40px);
    padding: 20px;
    background-color: #EDDBC7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px 20px 0 0;
}
.navbar-item > a:hover {
    color: #BFDB38;
}
.navbar-list > .active > a {
    color: #BFDB38;
}

.navbar-link {
    font-size: 20px;
    font-weight: bold;
    color:#A27B5C;
    text-decoration: none;
}

/* small sections style */
.section-title {
    color: #CFD2CF;
}
.section-content {
    color: #D6EFED;
    font-size: 20px;
}
p::selection {
    color: #413F42;
    background-color: #9EB23B;
}

/* scroll bar style */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #573c25; 
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #826043; 
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .page {
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .left-frame {
        width: 140px;
        height: 140px;
    }
    .personal-pic-size {
        height: 100px;
        width: 100px;
    }
    .name {
        font-size: 15px;
    }
    .main-content {
        padding: 15px 15px 35px 15px;
        margin-top: 0;
    }
    .navbar-list {
        bottom: 0;
        position: fixed;
        margin-bottom: 0;
        width: calc(100vw - 20px);
        padding: 10px;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 0 0 0 0;
    }
    .navbar-link {
        font-size: 15px;
    }
    .main-content-frame {
        width: 100vw;
    }
    .section-title {
        font-size: 17px;
    }
    .section-content {
        font-size: 17px;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}