.icon-arrangement, .photo-arrangement {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: left;
}
.icon-arrangement {
    width: 60vw;
}
.icon-title {
    margin-top: 20px;
}
.photo-arrangement {
    width: 70vw;
}
.icon-size {
    width: 100px;
    height: 100px;
}
.photo-size {
    height: 200px;
    width: 200px;
    transition: width 1.5s
}
.photo-size:hover {
    width: 300px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .icon-arrangement, .photo-arrangement {
        margin-top: 25px;
        gap: 20px;
    }
    .photo-size {
        height: 20vw;
        width: 20vw;
    }
    .icon-size {
        width: 15vw;
        height: 15vw;
    }
}